footer {
  padding: 0.5em 1em 1.5em;
  margin-top: 3em;
  text-align: center;
}

.footer a {
  color: #ccc;
  font-size: 0.8em;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
  background: none;
}
