$link-color: rgb(61, 146, 201);

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  max-width: 1190px;
  margin: 0px auto;
}

a {
  text-decoration: none;
  color: $link-color;
}
a:hover,
a:focus {
  text-decoration: underline;
}

h3 {
  font-weight: 100;
}

.posts {
  padding: 2em;
}

input {
  color: #111;
}

aside {
  text-align: left;
  color: #444;

  padding: .5em;

  &.error {
    border: 1px rgb(255, 0, 0) solid;
    background-color: rgb(255, 185, 185);
  }
}

.pure-form-field-error {
  color: #ff0000;
}

// replicate pure-form styles for "react-select"
.pure-form .Select {
  display: inline-block;
  vertical-align: middle;

  .Select-input input {
    border: none;
    box-shadow: none;
    padding-left: 0;
  }
}

.editable-array-of-row {
  margin-bottom: 16px;

  display: flex;
  align-items: center;

  .editable-text {
    width: 100%;
  }

  a {
    margin-left: 16px;
  }
}

.pure-table-editable-horizontal, .pure-table-editable-vertical {
  width: 100%;

  input[type=text] {
    width: 100%;
  }

  input[type=checkbox], input[type=radio] {
    margin-right: 5px;
  }

  textarea {
    width: 100%;
    height: 400px;
  }

  tfoot {
    .pure-control-group {
      button, a {
        min-width: 100px;
        margin-right: 10px;
      }
    }
  }
}

.pure-table-editable-horizontal {

  th {
    border: 1px solid #cbcbcb;
  }

  tr:nth-child(even) td {

  }

}

.pure-table-editable-vertical {

  th {
    width: 12%;
    background-color: #f2f2f2;
    border: 1px solid #cbcbcb;
  }

}

.signup__input, .recover__input {
  width: 100%;
}

@media screen and (min-width: 35.5em) {
  .u-sm-pr-1 { padding-right: 1em; }
  .u-sm-pr-2 { padding-right: 2em; }
}

